#!/usr/bin/make -f

PYTHON2=$(shell pyversions -vr)
PYTHON3=$(shell py3versions -vr)

%:
	dh $@ --with python2,python3

override_dh_auto_build:
	dh_auto_build
	set -ex; for py in $(PYTHON3) ; do \
		python$$py setup.py build; \
	done

override_dh_auto_install:
	# Build for python3 first so that /usr/bin/pip is python2
	set -ex; for py in $(PYTHON3) ; do \
		python$$py setup.py install --skip-build \
		                            --root=$(CURDIR)/debian/tmp \
		                            --install-layout=deb; \
	done
	sed -i "1 s/python3.[0-9]*/python3/" debian/tmp/usr/bin/pip3
	cp debian/pip.1 build/pip3.1
	dh_auto_install

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info

override_dh_installchangelogs:
	dh_installchangelogs CHANGES.txt
